<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

  <extensions>
    <add assembly="Nlog.RabbitMQ.Target" />
  </extensions>

  <targets>
    <target name="rabbitMQ"
            xsi:type="RabbitMQ"
            topic="logs"
            username="richard" 
            password="richard" 
            hostname="192.168.0.60" 
            exchange="amq.topic"
            exchangeType="topic"
            port="5672"
            vhost="/"
            layout="HassUtils.Dev :: ${machinename:uppercase=true} [${level:uppercase=true}] [:${logger}:] ${message}"
            UseJSON="true"
            UseLayoutAsMessage="true"
            DeliveryMode="NonPersistent"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="rabbitMQ" />
  </rules>
</nlog>